
# API Configuration
VITE_API_URL=http://localhost:4000

# App Configuration
VITE_DEFAULT_LANGUAGE=pt
VITE_FRONTEND_URL=http://localhost:3000
VITE_EMAIL_VERIFICATION_REDIRECT_URL=http://localhost:3000/verificar-email
